<p style="color: green"><%= notice %></p>

<h1>Staves</h1>

<div id="staves">
  <% @staves.each do |stave| %>
    <%= render stave %>
    <p>
      <%= link_to "Show this stave", stave %>
    </p>
  <% end %>
</div>

<%= link_to "New stave", new_stave_path %>
