<div id="<%= dom_id stock %>">
  <p>
    <strong>Stock:</strong>
    <%= stock.stock %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= stock.price %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= stock.date %>
  </p>

</div>
