<h1>Stocks</h1>
<table>
<tr>
  <th>stock</th>
  <th>coef</th>
  <th>price</th>
</tr>
<% @stocks.each do |stock| %>
  <tr>
    <td>
      <a href="/stocks/<%= stock.stock %>">
        <%= stock.stock %>
      </a>
    </td>
    <td><%= stock.coef.round(Math.log10(@stave)) %></td>
    <td><%= stock.price %></td>
  </tr>
<% end %>
</table>
