<h1><%= @stock.upcase %></h1>

<h2>Lohas Stave</h2>

<%= line_chart @lohas.map {
  |lohas| {
    name: lohas[:name], 
    data: lohas[:data]
  }
} %>

<% if !@years.nil? %>

<h2>Stave Years</h2>

<%= line_chart @years.map {
  |years| {
    name: years[:name], 
    data: years[:data]
  }
} %>

<% else %>

<h2>Boll'in Bands</h2>

<%= line_chart @boll.map {
  |boll| {
    name: boll[:name], 
    data: boll[:data]
  }
} %>

<% end %>