<h1><%= @stock.upcase %></h1>

<h2>Boll'in Bands</h2>

<%= line_chart @boll.map {
  |stock| {
    name: stock[:name], 
    data: stock[:data]
  }
} %>

<h2>Lohas Staves</h2>

<%= line_chart @lohas.map {
  |stave| {
    name: stave[:name], 
    data: stave[:data]
  }
} %>