<p style="color: green"><%= notice %></p>

<h1>Staves</h1>

<div id="staves">
  <% @staves.each do |stafe| %>
    <%= render stafe %>
    <p>
      <%= link_to "Show this stave", stafe %>
    </p>
  <% end %>
</div>

<%= link_to "New stave", new_stafe_path %>
